<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Category</th>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Is add on</th>
      <th>Is custom</th>
      <th>Breed group</th>
      <th>Sku</th>
      <th>Deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.service_id %></td>
        <td><%= service.category_id %></td>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.duration %></td>
        <td><%= service.is_add_on %></td>
        <td><%= service.is_custom %></td>
        <td><%= service.breed_group_id %></td>
        <td><%= service.sku %></td>
        <td><%= service.deleted %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
