<%= form_with(model: membership, local: true) do |form| %>
  <% if membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :membership_id %>
    <%= form.number_field :membership_id %>
  </div>

  <div class="field">
    <%= form.label :membership_name %>
    <%= form.text_field :membership_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :registration_fee_amount %>
    <%= form.text_field :registration_fee_amount %>
  </div>

  <div class="field">
    <%= form.label :cancellation_fee_amount %>
    <%= form.text_field :cancellation_fee_amount %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :period_size %>
    <%= form.number_field :period_size %>
  </div>

  <div class="field">
    <%= form.label :period_type %>
    <%= form.text_field :period_type %>
  </div>

  <div class="field">
    <%= form.label :billing_cycle_type %>
    <%= form.text_field :billing_cycle_type %>
  </div>

  <div class="field">
    <%= form.label :billing_day %>
    <%= form.number_field :billing_day %>
  </div>

  <div class="field">
    <%= form.label :payment_type %>
    <%= form.text_field :payment_type %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id %>
  </div>

  <div class="field">
    <%= form.label :benefit_id %>
    <%= form.number_field :benefit_id %>
  </div>

  <div class="field">
    <%= form.label :benefit_type %>
    <%= form.text_field :benefit_type %>
  </div>

  <div class="field">
    <%= form.label :benefit_discount_type %>
    <%= form.text_field :benefit_discount_type %>
  </div>

  <div class="field">
    <%= form.label :benefit_value %>
    <%= form.number_field :benefit_value %>
  </div>

  <div class="field">
    <%= form.label :benefit_limit %>
    <%= form.number_field :benefit_limit %>
  </div>

  <div class="field">
    <%= form.label :eligible_for_all_services %>
    <%= form.check_box :eligible_for_all_services %>
  </div>

  <div class="field">
    <%= form.label :eligible_for_all_products %>
    <%= form.check_box :eligible_for_all_products %>
  </div>

  <div class="field">
    <%= form.label :benefit_name %>
    <%= form.text_field :benefit_name %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.number_field :service_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
