<p id="notice"><%= notice %></p>

<p>
  <strong>Membership:</strong>
  <%= @membership.membership_id %>
</p>

<p>
  <strong>Membership name:</strong>
  <%= @membership.membership_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @membership.description %>
</p>

<p>
  <strong>Registration fee amount:</strong>
  <%= @membership.registration_fee_amount %>
</p>

<p>
  <strong>Cancellation fee amount:</strong>
  <%= @membership.cancellation_fee_amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @membership.price %>
</p>

<p>
  <strong>Period size:</strong>
  <%= @membership.period_size %>
</p>

<p>
  <strong>Period type:</strong>
  <%= @membership.period_type %>
</p>

<p>
  <strong>Billing cycle type:</strong>
  <%= @membership.billing_cycle_type %>
</p>

<p>
  <strong>Billing day:</strong>
  <%= @membership.billing_day %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @membership.payment_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @membership.location_id %>
</p>

<p>
  <strong>Benefit:</strong>
  <%= @membership.benefit_id %>
</p>

<p>
  <strong>Benefit type:</strong>
  <%= @membership.benefit_type %>
</p>

<p>
  <strong>Benefit discount type:</strong>
  <%= @membership.benefit_discount_type %>
</p>

<p>
  <strong>Benefit value:</strong>
  <%= @membership.benefit_value %>
</p>

<p>
  <strong>Benefit limit:</strong>
  <%= @membership.benefit_limit %>
</p>

<p>
  <strong>Eligible for all services:</strong>
  <%= @membership.eligible_for_all_services %>
</p>

<p>
  <strong>Eligible for all products:</strong>
  <%= @membership.eligible_for_all_products %>
</p>

<p>
  <strong>Benefit name:</strong>
  <%= @membership.benefit_name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @membership.service_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @membership.product_id %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
