<%= form_with(model: inventoryproduct, local: true) do |form| %>
  <% if inventoryproduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventoryproduct.errors.count, "error") %> prohibited this inventoryproduct from being saved:</h2>

      <ul>
      <% inventoryproduct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :visible_to_clients %>
    <%= form.check_box :visible_to_clients %>
  </div>

  <div class="field">
    <%= form.label :commissionable %>
    <%= form.check_box :commissionable %>
  </div>

  <div class="field">
    <%= form.label :discontinued %>
    <%= form.check_box :discontinued %>
  </div>

  <div class="field">
    <%= form.label :discontinued_reasons %>
    <%= form.text_field :discontinued_reasons %>
  </div>

  <div class="field">
    <%= form.label :alternative_product_ids %>
    <%= form.number_field :alternative_product_ids %>
  </div>

  <div class="field">
    <%= form.label :deleted %>
    <%= form.check_box :deleted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
