<%= button_to 'Export', {controller: "application", action: "export_inventoryproducts"}, method: :get, class: "btn btn-danger" %>
<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Vendor</th>
        <th>Description</th>
        <th>Deleted</th>

      </tr>
    </thead>

    <tbody>
      <% @inventoryproducts.each do |inventoryproduct| %>
        <tr>
          <td><%= inventoryproduct.product_id %></td>
          <td><%= inventoryproduct.name %></td>
          <td><%= inventoryproduct.brand %></td>
          <td><%= inventoryproduct.category %></td>
          <td><%= inventoryproduct.vendor %></td>
          <td><%= inventoryproduct.description %></td>
          <td><%= inventoryproduct.deleted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <em>*Some fields excluded from table for brevity</em>
  <br>
