<%= button_to 'Export', {controller: "application", action: "export_inventorystocks"}, method: :get, class: "btn btn-danger" %>
<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>Sku</th>
      <th>Location</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Cost</th>
      <th>Vendor</th>
      <th>Expiration date</th>
      <th>Stock type</th>
      <th>Deleted</th>
    </tr>
  </thead>

  <tbody>
    <% @inventorystocks.each do |inventorystock| %>
      <tr>
        <td><%= inventorystock.sku_id %></td>
        <td><%= inventorystock.location_id %></td>
        <td><%= inventorystock.quantity %></td>
        <td><%= inventorystock.price %></td>
        <td><%= inventorystock.cost %></td>
        <td><%= inventorystock.vendor %></td>
        <td><%= inventorystock.expiration_date %></td>
        <td><%= inventorystock.stock_type %></td>
        <td><%= inventorystock.deleted %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
