<a class="btn btn-outline-primary btn-float-right" href="salonservices.csv" role="button">Export</a>

<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>service id</th>
      <th>category id</th>
      <th>name</th>
      <th>description</th>
      <th>duration</th>
      <th>add on</th>
      <th>custom</th>
      <th>breed group id</th>
      <th>sku</th>
      <th>deleted</th>
    </tr>
  </thead>

  <tbody>
    <% @salonservices.each do |salonservice| %>
      <tr>
        <td><%= salonservice.service_id %></td>
        <td><%= salonservice.category_id %></td>
        <td><%= salonservice.name %></td>
        <td><%= salonservice.description %></td>
        <td><%= salonservice.duration %></td>
        <td><%= salonservice.is_add_on %></td>
        <td><%= salonservice.is_custom %></td>
        <td><%= salonservice.breed_group_id %></td>
        <td><%= salonservice.sku %></td>
        <td><%= salonservice.deleted %></td>
      </tr>
    <% end %>
  </tbody>
</table>
