<%= button_to 'Export', {controller: "application", action: "export_saloncategories"}, method: :get, class: "btn btn-danger" %>
<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Online</th>
      <th>Deleted</th>
    </tr>
  </thead>

  <tbody>
    <% @saloncategories.each do |saloncategory| %>
      <tr>
        <td><%= saloncategory.category_id %></td>
        <td><%= saloncategory.name %></td>
        <td><%= saloncategory.online %></td>
        <td><%= saloncategory.deleted %></td>
      </tr>
    <% end %>
  </tbody>
</table>
