<div class="row">
		<div class="col-md-12">
      <ul class="nav nav-pills flex-column">
				<li class="nav-item">
					<a class="nav-link <%= active?(root_path) %>" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(batchmanifests_path) %>" href="/batchmanifests">Batch Manifest</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(locations_path) %>" href="/locations">Locations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(staffs_path) %>" href="/staffs">Staff</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(saloncategories_path) %>" href="/saloncategories">Salons</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(petcategories_path) %>" href="/petcategories">Dog Grooming</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(salonpricings_path) %>" href="/salonpricings">Service Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(clients_path) %>" href="/clients">Client Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(pets_path) %>" href="/pets">Pets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(customfields_path) %>" href="/customfields">Custom Fields</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%= active?(appointments_path) %>" href="/appointments">Appointments</a>
				</li>
				<!-- User authentication is setup. Toggle this on and set before action, if outsiders start downloading. -->
        <!-- <li class="nav-item dropdown ml-md-auto">
          <a class="nav-item" id="navbarDropdownMenuLink">
            <% if user_signed_in? %>
              <a class="dropdown-item"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></a>
            <% else %>
              <a class="dropdown-item"><%= link_to('Login', new_user_session_path) %></a>
            <% end %>
          </a>
        </li> -->
  		</ul>
  	</div>
  </div>
