<h1>Clients</h1>
  <a class="btn btn-primary" href="clients/export.csv" role="button">Export</a>

<table>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td style ="word-wrap:break-word;"><%= client.client_id %></td>
        <td style ="word-wrap:break-word;"><%= client.client_first_name %></td>
        <td style ="word-wrap:break-word;"><%= client.client_last_name %></td>
        <td style ="word-wrap:break-word;"><%= client.email %></td>
        <td style ="word-wrap:break-word;"><%= client.mobile_phone %></td>
        <td style ="word-wrap:break-word;"><%= client.home_phone %></td>
        <td style ="word-wrap:break-word;"><%= client.work_phone %></td>
        <td style ="word-wrap:break-word;"><%= client.street_address %></td>
        <td style ="word-wrap:break-word;"><%= client.street_address_2 %></td>
        <td style ="word-wrap:break-word;"><%= client.city %></td>
        <td style ="word-wrap:break-word;"><%= client.state %></td>
        <td style ="word-wrap:break-word;"><%= client.zip %></td>
        <td style ="word-wrap:break-word;"><%= client.country %></td>
        <td style ="word-wrap:break-word;"><%= client.gender %></td>
        <td style ="word-wrap:break-word;"><%= client.date_of_birth %></td>
        <td style ="word-wrap:break-word;"><%= client.contact_preference %></td>
        <td style ="word-wrap:break-word;"><%= client.client_since %></td>
        <td style ="word-wrap:break-word;"><%= client.can_receive_automated_emails %></td>
        <td style ="word-wrap:break-word;"><%= client.can_receive_manual_emails %></td>
        <td style ="word-wrap:break-word;"><%= client.can_receive_automated_sms %></td>
        <td style ="word-wrap:break-word;"><%= client.can_receive_manual_sms %></td>
        <td style ="word-wrap:break-word;"><%= client.can_receive_manual_emails %></td>
        <td style ="word-wrap:break-word;"><%= client.can_receive_manual_sms %></td>
        <td style ="word-wrap:break-word;"><%= client.notes %></td>
        <td style ="word-wrap:break-word;"><%= client.preferred_employee_id %></td>
        <td style ="word-wrap:break-word;"><%= client.preferred_location_id %></td>
        <td style ="word-wrap:break-word;"><%= client.deleted %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<h4>Needs to add specific clients?</h4>
<%= form_tag import_clients_path, multipart: true do %>
   <button type="button" class="btn btn-primary btn-sm"><%= file_field_tag :file %></button>
  <%= submit_tag "Import" %>
<% end %>
<%= link_to 'Or Create Client', new_client_path %>
