<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>class_setting_attendee_id</th>
      <th>class_setting_id</th>
      <th>attendee_id</th>
      <th>price</th>
      <th>capacity</th>
      <th>hide_price</th>
      <th>members_only</th>
    </tr>
  </thead>

  <tbody>
    <% @classsettingattendees.each do |classsettingattendee| %>
      <tr>
        <td><%= classsettingattendee.class_setting_attendee_id %></td>
        <td><%= classsettingattendee.class_setting_id %></td>
        <td><%= classsettingattendee.attendee_id %></td>
        <td><%= classsettingattendee.price %></td>
        <td><%= classsettingattendee.capacity %></td>
        <td><%= classsettingattendee.hide_price %></td>
        <td><%= classsettingattendee.members_only %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<em>*Some fields excluded from table for brevity</em>
<br>
<%= will_paginate @classsettingattendees, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
