<h3 id="title">Classes & Events</h3><br>
<a class="btn btn-warning" href="static/export_classes.zip" role="button" disabled>Export Class Zip</a>

<div id="card-19191">
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-19191" href="#card-element-199199">Classes</a>
    </div>
    <div id="card-element-199199" class="show">
      <div class="card-body">
        <%= render :partial => "listevents"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-19191" href="#card-element-111111">Attendees</a>
    </div>
    <div id="card-element-111111" class="collapse">
      <div class="card-body">
        <%= render :partial => "listattendees"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-19191" href="#card-element-919191">Class Categories</a>
    </div>
    <div id="card-element-919191" class="collapse">
      <div class="card-body">
        <%= render :partial => "listclasscategories"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-19191" href="#card-element-769">Segment Templates</a>
    </div>
    <div id="card-element-769" class="collapse">
      <div class="card-body">
        <%= render :partial => "listclasssegmenttemplates"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-19191" href="#card-element-767676">Class Setting Attendees</a>
    </div>
    <div id="card-element-767676" class="collapse">
      <div class="card-body">
        <%= render :partial => "listclasssettingattendees"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-19191" href="#card-element-313131">Class Setting Locations</a>
    </div>
    <div id="card-element-313131" class="collapse">
      <div class="card-body">
        <%= render :partial => "listclasssettinglocations"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-19191" href="#card-element-191919">Class Settings</a>
    </div>
    <div id="card-element-191919" class="collapse">
      <div class="card-body">
        <%= render :partial => "listclasssettings"%>
      </div>
    </div>
  </div>
</div>
