<a class="btn btn-danger" href="tickets/export_payments.csv" role="button">Export Payments</a>

<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Payment item</th>
      <th>Type</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ticket_id %></td>
        <td><%= ticket.payment_item_id %></td>
        <td><%= ticket.payment_type %></td>
        <td><%= ticket.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @tickets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
