<%= button_to 'Export', {controller: "export", action: "export_pricings"}, method: :get, class: "btn btn-danger" %>
<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>Service</th>
      <th>Location</th>
      <th>Price</th>
      <th>Deleted</th>
    </tr>
  </thead>

  <tbody>
    <% @salonpricings.each do |salonpricing| %>
      <tr>
        <td><%= salonpricing.service_id %></td>
        <td><%= salonpricing.location_id %></td>
        <td><%= salonpricing.price %></td>
        <td><%= salonpricing.deleted %></td>
      </tr>
    <% end %>
  </tbody>
</table>
