      <div class="jumbotron">
        <h2>Expand the sections below and choose one or more files to download</h2>
        <div id="card-404785">
            <%= render :partial => "listsaloncard"%>
            <%= render :partial => "listpetcard"%>
            <%= render :partial => "listpartialscard"%>
            <%= render :partial => "listsinglescard"%>
        <div>
          <div>
            <em>If you would like to see a sample of the data, click one of the navigation tabs on the left.</em>
            <br>
            <br>
            Need new data? <%= link_to 'Regenerate the DB', seeds_run_path, action: :run %>
            <br>
            <em>This may take a few minutes to complete and can only be run once daily.</em>
          </div>
        </div>
      </div>
    </div>
          <h3>Instructions</h3>
          <p>Once you have downloaded all of your files, follow the steps below to import them.</p>
          <div id="card-121214">
            <%= render :partial => "setinstructions"%>
            <%= render :partial => "partialsetinstructions"%>
            <%= render :partial => "diyinstructions"%>
          </div>
          <br>
          <h4>Button Color Guide</h4>
          <button type="button" class="btn btn-danger btn-block">Red - File not meant to be used alone</button>
          <button type="button" class="btn btn-warning btn-block">Yellow - You can use this partial set, but it will not build an entire account</button>
          <button type="button" class="btn btn-success btn-block">Green - A complete set meant to generate enough data for a full account</button>
