<a class="btn btn-outline-primary" href="appointments/export.csv" role="button">Export</a>

<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Location</th>
      <th>Employee</th>
      <th>Client</th>
      <th>Child</th>
      <th>Notes</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_id %></td>
        <td><%= appointment.location_id %></td>
        <td><%= appointment.employee_id %></td>
        <td><%= appointment.client_id %></td>
        <td><%= appointment.child_id %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.start_time %></td>
        <td><%= appointment.end_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @appointments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
