<a class="btn btn-danger" href="tickets/export_services.csv" role="button">Export</a>

<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Service</th>
      <th>Appointment</th>
      <th>Service Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.ticket_id %></td>
        <td><%= appointment.service_id %></td>
        <td><%= appointment.appointment_id %></td>
        <td><%= appointment.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @appointments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
