<%= button_to 'Export', {controller: "export", action: "export_locations"}, method: :get, class: "btn btn-danger" %>
<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>location id</th>
      <th>nickname</th>
      <th>country</th>
      <th>street address</th>
      <th>city</th>
      <th>state</th>
      <th>zip</th>
      <th>phone</th>
      <th>deleted</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.location_id %></td>
        <td><%= location.nickname %></td>
        <td><%= location.country %></td>
        <td><%= location.street_address %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip %></td>
        <td><%= location.phone_number %></td>
        <td><%= location.deleted %></td>
      </tr>
    <% end %>
  </tbody>
</table>
