<h1>Locations</h1>

<a class="btn btn-primary" href="locations.csv" role="button">Export</a>
<a class="btn btn-primary" href="locations/limited.csv" role="button">Export 3</a>

<table>
  <thead>
    <tr>
      <th>location_id</th>
      <th>nickname</th>
      <th>country</th>
      <th>street_address</th>
      <th>street_address_2</th>
      <th>city</th>
      <th>state</th>
      <th>zip</th>
      <th>phone_number</th>
      <th>deleted</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.location_id %></td>
        <td><%= location.nickname %></td>
        <td><%= location.country %></td>
        <td><%= location.street_address %></td>
        <td><%= location.street_address_2 %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip %></td>
        <td><%= location.phone_number %></td>
        <td><%= location.deleted %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
