<!DOCTYPE html>
<html>
  <head>
    <title>Ingest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    	<div class="row">
    		<div class="col-md-2">
        <%= render 'shared/nav' %>
      </div>
      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
      <div id="footer">
        <p>Copyright 2020</p>
      </div>
    </div>
  </body>
</html>
